.body
{
    background: url('/assets/asset/img/2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 100% 100%;
    overflow:hidden;
    overflow-y: auto;
}
h1 {
    color: #100E0E;
    padding-left: 300px;
   top: 200px;
    /* font-family: 'serif'; */
    font-size: 80px;
    position: relative;
    padding-top: 50px;
    font-weight: bold;
    font-style: italic;
  }
.formcontainer
{
    
  padding-left: 800px;
  
}
.mat-form-field {
    width: 80%;
}
input {
 
    color: #100E0E;
    font-weight: bold;
    font-size: 20px;
  
 }
 ::ng-deep .mat-form-field-label 
  {
    /*change color of label*/
    color: #100E0E !important;
    font-size: 16px !important;
    font-weight: bold !important;
    /*font-weight: bold !important;*/
   
   }
  ::ng-deep .mat-focused .mat-form-field-label
   {
    /*change color of label*/
    color: #100E0E !important;
    font-weight: bold !important;
   }
   ::ng-deep.mat-form-field-underline {
    /*change color of underline*/
    background-color: #100E0E !important;
    
  } 
  ::ng-deep.mat-select-value {
    
   color: #100E0E !important;
   font-size: 20px;
   font-weight: bold;
  } 
  
  
  
  
  ::ng-deep.mat-form-field-ripple {
   /*change color of underline when focused*/
   background-color: #100E0E !important;;
  }
  .mat-raised-button {
    background-color: #100E0E ;
   
    
    color: #FFFFFF;
    padding: 5px 20px;
    display: inline;
    font-style: oblique;
    font-size: 20px;
    
    font-weight: bold;
  }
  
  
  .button-row button,
.button-row a {
  margin-right: 20px;
  
  
}
.button-row
{
    padding-left: 60px;
  padding-top: 5px;
}